@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {
    box-sizing: border-box;
  }
  
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
/* unread blue */
/* read white */
  
  :root {
    /* colors Primary */
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue1: hsl(211, 68%, 94%);
    --light-grayish-blue2: hsl(205, 33%, 90%);
    --grayish-blue:hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
    --plus-jakarts-sans: font-family: "Plus Jakarta Sans", sans-serif;

}

.plus-jakarta-800 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--plus-jakarts-sans);
    background-color: var(--very-light-grayish-blue);
}

main {
  border-radius: 7px;
}
h1 {
    font-weight: 800;
    font-size: 18px;
}

p, button {
    color: var(--dark-grayish-blue);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 14px;
}

p {
  font-size: 16px;
}

.notifications-container {
    /* display: flex;
    margin: 0 auto; */
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    width: 700px;
    /* max-width: 36vw; */
    background-color: white;
    /* min-height: 78vh; */
    /* max-height: 80%; */
    /* max-height: 400px; */
    /* max-height: 80vh; */
}

.notification-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.notification-top h1 {
    display: flex;
    gap: 9px;
}

.unread-messages-count {
    color: white;
    background-color: var(--blue);
    padding: .2rem .5rem;
    font-size: 12px;
    align-self: center;
    border-radius: 5px;
}

.notification-top button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.notification-top button:focus {
  border: 1px solid var(--blue);
}

.notification-body div:not(:last-child){
  margin-bottom: 8px;
}
.notification {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1rem 1rem;
  border-radius: 10px;
}

.notification.unread {
  background-color: var(--very-light-grayish-blue);
}

.dot {
  height: 7px;
  width: 7px;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
}

.notification img {
  width: 43px;
  height: 43px;
  align-self: flex-start;
}

.profile-name {
  color: var(--very-dark-blue);
  font-weight: 800;
}

.post-name {
  font-weight: 800;
}
.post-time {
  color: var(--grayish-blue);
}

.group-name {
  color: var(--blue);
  font-weight: 800  ;
}

.private-message {
  border: 1px solid var(--light-grayish-blue2);
  padding: .8rem;
  margin-top: 10px;
}

.notification.message {
  display: flex;
}
.notification.message img {
  align-self: start;
}
.picture-preview {
  margin-left: auto;
  margin-bottom: auto;
}

footer {
  
    font-size: 11px;
    text-align: center;
   
  
  }
  footer a {
    color: hsl(228, 45%, 44%);
  }

@media screen and (max-width: 700px) {
  main {
    border-radius: 0;
  }
  .notifications-container {
    /* height: 100vh; */
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {

}

@media screen and (min-width: 500px) {
footer {
  position: absolute;
  bottom: 0;
}
}